<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Garage SERVOUZE</title>

  </head>


  <body>

    <h1>Accueil</h1>

    <a href="Garage/factures" title="Gérer les factures">Factures</a>
    <a href="Garage/devis" title="Gérer les devis">Devis</a>
    <a href="Garage/catalogue" title="Liste des pièces">Catalogue</a>
    <a href="Garage/vehicules" title="Liste des véhicules">Véhicules</a>
    <a href="Garage/clients" title="Liste des cliens">Clients</a>
    <a href="Garage/fournisseurs" title="Liste des fournisseurs">Fournisseurs</a>

  </body>

</html>
