<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Garage SERVOUZE</title>

  </head>


  <body>

    <h1>Gérer les factures</h1>
    <a href="/" title="Retour à l'accueil">Accueil</a>

    <div id="infos-client">
        <div class="AdresseClient">
          <label for="client">Client : </label>
            <select name="sélection-client" id="sélection-client">
              <option value="new">Nouveau client</option>
              {% for client in clients %}
                <option value={{ client.id }}>{{client.name }} {{ client.first_name }}</option>
              {% endfor %}
            </select>
            <p id="adresse">
            </p>
        </div>
        <div class="VoitureClient">
          <p>Voiture du client</p>
        </div>
    </div>


    <div id="détails-facture">
      <div class="item1">

      </div>

    </div>



  </body>

</html>
